.btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border: 1px solid black;
    padding: 4px 20px;
    color: black;
    border-radius: 4px;

    bagreenckground-color: darkgray;
    cursor: pointer;
}

.btn-yellow {
    background-color: lightyellow;
}

.btn-red {
    background-color: indianred;
}

.btn-green {
    background-color: limegreen;
}

.btn-white {
    background-color: white;
    border: 2px solid black;
}

.btn-container {
    display: flex;
    gap: 8px;

    justify-content: flex-end;
    align-items: center;
    width: 100%;
}