.btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border: 1px solid black;
    padding: 4px 20px;
    color: black;
    border-radius: 4px;
}

.btn-container {
    display: flex;
    gap: 8px;

    justify-content: flex-end;
    align-items: center;
    width: 100%;
}